@{
    ViewBag.Title = "Payment Inquiry Paid Report";
    Layout = "~/Views/Shared/_Report.cshtml";
}

<table class="A4">
    <tr>
        <td align="left"> <strong>Report Name: </strong> CrPaymentInquiryListingPaid </td>
        <td>
            <div style="text-align:right">
                Print Date:  @ViewBag.date <br />
                Print Time:  @ViewBag.time <br />
            </div>
        </td>
    </tr>
</table>
<br /><br />
<div style="text-align:center" class="A4 title">
    <div>PERBADANAN LABUAN </div>
    <div>PAYMENT INQUIRY LISTING (PAID) </div>
</div>
<br /><br />
<table class="A4">
    <tr>
        <th> No </th>
        <th> Account No </th>
        <th> Issue Date </th>
        <th> Company Name </th>
    </tr>
    @foreach (var item in ViewBag.payments)
    {
        <tr>
            <td>@item.PAYTRAN_MID</td>
            <td>@item.ACCT_NO</td>
            <td>@item.TX_DATE</td>
            <td>@item.RCPT_FROM</td>
        </tr>
    }
</table>


