@using TradingLicense.Infrastructure;
@using TradingLicense.Web.Classes;
@{
    ViewBag.Title = "Application";
    int? userRollTemplate = TradingLicense.Infrastructure.ProjectSession.User?.ROLEID;
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <div class="row">
            <div class="col-lg-10">
                <h4>Case Log</h4>
            </div>
        </div>
    </div>
    <div class="filter-block">
        <div class="row small-gutter">
            <form>
                <div class="col-xs-4">
                    <input type="text" name="txtApplicationID" id="txtApplicationID" class="form-control" placeholder="No. Rujukan" maxlength="100" />
                </div>
                @*<div class="col-xs-4">
                        <input type="text" name="txtIndividualID" id="txtIndividualID" class="form-control" placeholder="MyKad/Passport No" />
                    </div>*@
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary" onclick="return bindTable();">Cari</button>
                    <button type="button" class="btn btn-default" onclick="return clearControls();">Kosongkan</button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid" id="divApplicationTable">
        <table cellspacing="0" class="table table-striped" id="tblApplication"></table>
    </div>
    <div class="filter-block">
        <div class="row small-gutter">
            <div class="col-xs-4">
                <input type="button" class="btn btn-default" value="Kembali" onclick="back()" />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
                    var IsEdit = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.Application, SystemEnum.PageRight.CrudLevel3)';
                    var IsDelete = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.Application, SystemEnum.PageRight.CrudLevel4)';
                    var IsView = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.Application, SystemEnum.PageRight.CrudLevel)';

        function back() {
            var link = '@Url.Action("Application", "Application")';
            window.location.href = link;
        }

        $(function () {

                        $('.form-control').keypress(function (e) {
                            if (e.which == 13) {
                                bindTable();
                                return false;
                            }
                        });

                        var success = '@(TempData["SuccessMessage"])';
                        if (success != null && success != "") {
                            successMessage(success);
                        }
                        bindTable();
                    });
                    var restrictSubmittedApps = @((userRollTemplate.HasValue && (userRollTemplate.Value == (int)TradingLicense.Infrastructure.Enums.RollTemplate.RouteUnit)).ToString().ToLower());


                    function bindTable() {

                        if (!isValidSearchCriteria('SearchCriteria')) { return false; }

                        if ($.fn.DataTable.isDataTable("#tblApplication")) {
                            $('#tblApplication').dataTable().fnDestroy();
                            $('#divApplicationTable').html('<table class="table table-striped" width="100%"  id="tblApplication"></table>');
                        }

                        table = $("#tblApplication").dataTable({
                            "autoWidth": false,
                            "searching": false,
                            "paging": true,
                            "sPaginationType": "full_numbers",
                            "language": {
                                "lengthMenu": "Page Size : _MENU_ ",
                                "info": "Records _START_ to _END_ of (_TOTAL_)",
                                "emptyTable": "No Record(s) Found"
                            },
                            "processing": true,
                            "serverSide": true,
                            "pageLength": 10,
                            "ajax": {
                                url: '@Url.Action("ApplicationLog", "Application")',
                                type: "POST",
                                data: bindSearch()
                            },
                            "columns": [
                                {
                                    "targets": 0,
                                    "searchable": false,
                                    "orderable": false,
                                    "title": "No.",
                                    "data": null,
                                    "render": function (data, type, full, meta) {
                                        return meta.settings._iDisplayStart + meta.row + 1;
                                    }
                                },
                                { "title": "No. Rujukan", "data": "ReferenceNo" },
                                { "title": "Status Lesen", "data": "StatusDesc" },
                                { "title": "Tarikh", "data": "TIME_STAMP", render: renderDateTime },
                                { "title": "Dikemaskini Oleh", "data": "FullName" },
                                { "title": "Aktiviti", "data": "ACTIVITY" }
                            ],
                            "drawCallback": function (settings) {
                                //hide paging and info when empty datattable
                                var api = this.api();
                                if (api.rows({ page: 'current' }).data().length <= 0) {
                                    $('#tblApplication_info').hide();
                                    $('#tblApplication_paginate').hide();
                                    $('#tblApplication_length').hide();
                                }
                                else {
                                    $('#tblApplication_info').show();
                                    $('#tblApplication_paginate').show();
                                    $('#tblApplication_length').show();
                                }
                                bindSortingArrow();
                            }
                        });
                    }

                    function clearControls() {
                        $("#txtApplicationID").val('');
                        $("#txtIndividualID").val('');
                        bindTable();
                    }

                    function bindSearch() {
                        var param = {};
                        param["ApplicationID"] = $('#txtApplicationID').val();
                        param["IndividualMkNo"] = $('#txtIndividualID').val();
                        return param;
                    }

                    function isValidSearchCriteria(formName) {
                        var isValid = true;
                        $("form#" + formName + " input[type=text]").each(function () {
                            if ($(this).val().match(/[<>]/)) {
                                $(this).addClass('input-validation-error');
                                isValid = false;
                            }
                            else {
                                $(this).removeClass('input-validation-error');
                            }
                        });
                        return isValid;
                    }



    </script>
}
