@model TradingLicense.Model.MLPermitApplicationModel
@using AutoMapper;
@{
    ViewBag.Title = "Manage ML Permit Application";


    List<TradingLicense.Model.IndividualModel> individualList = new List<TradingLicense.Model.IndividualModel>();
    List<TradingLicense.Model.IndividualModel> individualOwner = new List<TradingLicense.Model.IndividualModel>();
    List<TradingLicense.Model.CompanyModel> companyList = new List<TradingLicense.Model.CompanyModel>();
    List<TradingLicense.Model.MLPremiseApplicationModel> premisList = new List<TradingLicense.Model.MLPremiseApplicationModel>();

    using (var ctx = new TradingLicense.Data.LicenseApplicationContext())
    {
        var individualOwnerList = ctx.Individuals.ToList();
        individualOwner = Mapper.Map<List<TradingLicense.Model.IndividualModel>>(individualOwnerList);
        companyList = Mapper.Map<List<TradingLicense.Model.CompanyModel>>(ctx.Companies.ToList());
        var MLPermitQuery = ctx.MLPermitApplications.Where(m => m.AppStatusID == 15); // TODO: exclude expired license.
        premisList = Mapper.Map<List<TradingLicense.Model.MLPremiseApplicationModel>>(ctx.MLPermitApplications.Where(m => m.AppStatusID == 15).ToList());
    }


    List<SelectListItem> ModeList = new List<SelectListItem>();
    ModeList.Add(new SelectListItem { Text = "Ekspres", Value = "1" });
    ModeList.Add(new SelectListItem { Text = "Pengarah", Value = "2" });
    ModeList.Add(new SelectListItem { Text = "Biasa", Value = "3" });
    ModeList.Add(new SelectListItem { Text = "Mesyuarat", Value = "4" });


}


<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Butir-Butir Pemohon Permit Iklan Peminjam Wang </h4>
    </div>
    <div class="body">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmBannerApplication", id = "frmBannerApplication" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.MLPermitApplicationID)
        @Html.HiddenFor(m => m.AppStatusID)
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <div class="control-label">Jenis Kelulusan<span class="cfont">*</span></div>
                     @Html.DropDownListFor(m => m.Mode, new SelectList(ModeList, "Value", "Text"), new { @class = "form-control", onchange = "hideLetterDropDown()" })
                     @Html.ValidationMessageFor(m => m.Mode)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                    <div class="control-label">Nama Pemohon<span class="cfont">*</span></div>
                    @Html.DropDownList("IndividualID", new SelectList(individualOwner, "IndividualID", "FullName"), new { name = "ddlIndividual", id = "ddlIndividual", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IndividualID)
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                        <div class="control-label">Nama Perniagaan (Jika ada)</div>
                        @Html.DropDownList("CompanyID", new SelectList(companyList, "CompanyID", "CompanyName"), new { name = "ddlCompany", id = "ddlCompany", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CompanyID)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                        <div class="control-label">No Lesen Permit Pemberi Pinjam Wang</div>
                        @Html.DropDownList("PremisApplicationID", new SelectList(premisList, "MLPremiseApplicationID", "ReferenceNo"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LenderApplicationID)
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                        <div class="control-label"></div>
                        <div> <br/> Lesen Expiry Date
                            <label id="lesen expire date"> 2018/10/20 </label>
                        </div>
                    </div>
                </div>
            </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                    <div class="form-group">
                        <div class="h4"> Jenis Iklan</div>
                        <div>
                            <table>
                                <tr><td width="80">@Html.CheckBoxFor(m => m.Brochure, new { @class = "form-control" }) </td><td>Brosur</td></tr>
                                <tr><td>@Html.CheckBoxFor(m => m.Newspaper, new { @class = "form-control" }) </td><td> Akhbar </td></tr>
                                <tr><td>@Html.CheckBoxFor(m => m.SignBoard, new { @class = "form-control" }) </td><td> Papan Tanda </td></tr>
                                <tr><td>@Html.CheckBoxFor(m => m.Radio, new { @class = "form-control" }) </td><td> Radio </td></tr>
                                <tr><td>@Html.CheckBoxFor(m => m.Internet, new { @class = "form-control" }) </td><td> Internet </td></tr>
                                <tr><td>@Html.CheckBoxFor(m => m.Television, new { @class = "form-control" }) </td><td> Televisyen </td></tr>
                                <tr><td>@Html.CheckBoxFor(m => m.VCD, new { @class = "form-control" }) </td><td> Cakera Padat </td></tr>
                                <tr><td>@Html.CheckBoxFor(m => m.Cinema, new { @class = "form-control" }) </td><td> Panggung Wayang </td></tr>
                                <tr><td>@{Html.CheckBoxFor(m => m.Others, new { @class = "form-control" }); } </td><td> @{ Html.TextBoxFor(m => m.SpecifyOthers, new { @class = "form-control", @placeholder = "Lain-Lain (Sila Nyatakan) " }); } </td></tr>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="h4">Dokumen Wajib <br /><br /></div>
                            <div class="alert alert-danger" id="chkReqDoc" role="alert" style="display:none;">
                                Please All The CheckBoxes For Required Documents!
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered dataTable no-footer" style="width:100%" role="grid" cellspacing="0" id="Docs">
                                    <tr>
                                        <th> Pilih </th>
                                        <th> Name Document </th>
                                        <th> Upload File </th>
                                    </tr>
                                    <tr><td><input type="checkbox" name="printedMediaCheckbox" /></td>
                                        <td> Tiga Salinan Setiap Jenis Iklan (Brosur, Akhbar atau Laman Web)
                                        </td>
                                        <td>
                                            <input class="fileupload" type="file" multiple id="printedMedia" />
                                        </td>
                                    </tr>
                                    <tr><td><input type="checkbox" name="videoMediaCheckbox" /></td>
                                        <td>
                                            Tiga Salinan Setiap Jenis Iklan ( Sound atau Video )
                                        </td>
                                        <td>
                                            <input class="fileupload" type="file" multiple id="videoMedia" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @if (!(@ViewBag.UserRole == 2 && @Model.AppStatusID == 2))
                            {
                                <input type="button" name="btnSubmit" class="btn btn-info submitbtn" id="btnDraft" value="Draft" />
                                    <input type="button" name="btnSubmit" class="btn btn-primary submitbtn" id="btnSubmit" value="Simpan" />
                            }
                            <input type="button" class="btn btn-default" value="Batal" onclick="back()" />
                        </div>
                    </div>
                </div>
                }
            </div>
            </div>
            @section scripts{
                <script>
                    var actionError = '@(TempData["ErrorMessage"])';
                    if (actionError != null && actionError != "") {
                        errorMessage(actionError);
                    }
                    function back() {
                        var link = '@Url.Action("BannerApplication", "BannerApplication")';
                        window.location.href = link;
                    }
                    $(document).ready(function () {
                        $('#ddlIndividual').select2({ width: '100%' });
                        $('#ddlCompany').select2({ width: '100%' });
                        $('#BannerCode').select2({ width: '100%' });
                        $('#ddlLocation').select2({ width: '100%' });
                        

                        $('#addProductItem').click(function () {
                            var isAllValid = validateModel();

                            if (isAllValid) {
                                var $newRow = $('#productItemRow').clone().removeAttr('id');

                                $('.KodIklanId', $newRow).val($('#BannerCode').val());
                                $('.KodIklan', $newRow).text($('#BannerCode option:selected').text());
                                $('.LocationId', $newRow).val($('#ddlLocation').val());
                                $('.LokasiDipohon', $newRow).text($('#ddlLocation option:selected').text());
                                var num = parseFloat($('#SaizIklanDipohon').val());
                                $('.SaizIklanDipohon', $newRow).text(num.toFixed(2));
                                $('.BilanganIklan', $newRow).text($('#BilanganIklan').val());
                                $('.itemEditRow', $newRow).append('<button type="button" class="btn btn-danger btn-xs remove" title="Delete" >Remove</button>');
                                $('#gridItems').append($newRow);
                                $('#BilanganIklan').val('');
                                $('#SaizIklanDipohon').val('');

                            }
                        });

                        $('#gridItems').on('click', '.remove', function () {
                            $(this).parents('tr').remove();
                        });

                        function validateModel() {
                            var result = true;

                            if ($('#BannerCode').val() == "") {
                                $('#BannerCode').siblings('span.BannerCodeVal').text("Please Enter BannerCode.");
                                result = false;
                            }

                            if ($('#ddlLocation').val() == "") {
                                $('#ddlLocation').siblings('span.LocationVal').text("Please Enter Location.");
                                result = false;
                            }

                            if ($('#SaizIklanDipohon').val() == "") {
                                $('#SaizIklanDipohon').siblings('span.SizeVal').text("Please Enter Size.");
                                result = false;
                            }
                            if (isNaN($('#SaizIklanDipohon').val())) {
                                $('#SaizIklanDipohon').siblings('span.SizeVal').text("Please Enter number in size.");
                                result = false;
                            }


                            if ($('#BilanganIklan').val() == "") {
                                $('#BilanganIklan').siblings('span.quantityVal').text("Please Enter Quantity.");
                                result = false;
                            }
                            if (isNaN($('#BilanganIklan').val())) {
                                $('#BilanganIklan').siblings('span.quantityVal').text("Please Enter number in quantity.");
                                result = false;
                            }

                            return result;
                        }
                        $('#BilanganIklan').change(function () {
                            if ($('#BilanganIklan').val() != "" && !isNaN($('#BilanganIklan').val())) {
                                $('#BilanganIklan').siblings('span.quantityVal').text("");
                            }
                        });

                        $('#SaizIklanDipohon').change(function () {
                            if ($('#SaizIklanDipohon').val() != "" && !isNaN($('#SaizIklanDipohon').val())) {
                                $('#SaizIklanDipohon').siblings('span.SizeVal').text("");
                            }
                        });

                        $('#BannerCode').change(function () {
                            if ($('#BannerCode').val() != "" && !isNaN($('#BannerCode').val())) {
                                $('#BannerCode').siblings('span.BannerCodeVal').text("");
                            }
                        });

                        $('#ddlLocation').change(function () {
                            if ($('#ddlLocation').val() != "" && !isNaN($('#ddlLocation').val())) {
                                $('#ddlLocation').siblings('span.LocationVal').text("");
                            }
                        });

                        $('.submitbtn').click(function () {

                            // Checking whether FormData is available in browser
                            if (window.FormData !== undefined) {
                                var fileData = new FormData();
                                var listImg = [];
                                var list = [];
                                var BannerApplist = [];
                                if ('@ViewBag.UserRole' == '2') {
                                    var chkCnt = $('input.chkClass').length;
                                    var chkcntChecked = $('input.chkClass:checked').length
                                    if (chkCnt != chkcntChecked) {
                                        $('#chkReqDoc').fadeIn();
                                        return false;
                                    }
                                }

                                $('#Docs tbody tr').each(function (index, ele) {
                                    if ('@ViewBag.UserRole' != '2') {
                                        var fileUpload = $(".fileupload", this).get(0);
                                        var files = fileUpload.files;

                                        for (var i = 0; i < files.length; i++) {
                                            var flname = files[i].name + '_' + $('.hdndocId', this).val();
                                            fileData.append(flname, files[i]);
                                        }

                                        for (var i = 0; i < files.length; i++) {
                                            var ImgModel = {
                                                Id: $('.hdndocId', this).val(),
                                                filename: files[i].name,
                                                RequiredDocID: 0
                                            }
                                            listImg.push(ImgModel);
                                        }
                                    }
                                })
                                var today = new Date();
                                var BannerApp = {
                                    BannerApplicationID: '@Model.MLPermitApplicationID',
                                    CompanyID: $('#ddlCompany').val(),
                                    IndividualID: $('#ddlIndividual').val(),
                                    AppStatusID: 0,
                                    UsersID: 0,
                                    DateSubmitted: today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate(),
                                    UpdatedBy: ''
                                }
                                BannerApplist.push(BannerApp);



                                $('#gridItems tbody tr').each(function (index, ele) {
                                    if ($('.KodIklanId', this).val() != null && $('.KodIklanId', this).val() != "" && $('.KodIklanId', this).val() != "0") {
                                        var GridItems = {
                                            BannerCodeID: $('.KodIklanId', this).val(),
                                            LocationID: $('.LocationId', this).val(),
                                            BSize: $('.SaizIklanDipohon', this).text(),
                                            BQuantity: $('.BilanganIklan', this).text(),
                                            BannerObjectID: $('.BannerObjectId', this).val(),
                                            BannerApplicationID: '@Model.MLPermitApplicationID'
                                        }
                                        list.push(GridItems);
                                    }
                                })

                                fileData.append("ImgModel", JSON.stringify(listImg))
                                fileData.append("IndividualId", $('#ddlIndividual').val())
                                fileData.append("compId", $('#ddlCompany').val())
                                fileData.append("gridItems", JSON.stringify(list))
                                fileData.append("BannerApplist", JSON.stringify(BannerApplist))
                                fileData.append("btnType", $(this).attr('id'))

                                $.ajax({
                                    url: '/BannerApplication/SaveManageBannerApplication',
                                    type: "POST",
                                    contentType: false,//'application/json',
                                    processData: false,
                                    data: fileData,
                                    success: function (result) {
                                        if (result == "0") {
                                            errorMessage('Problem In Saving Data...Try Again.');
                                        }
                                        else {
                                            window.location.href = '/BannerApplication/BannerApplication';
                                        }
                                    },
                                    error: function (err) {
                                        alert(err.statusText);
                                    }
                                });
                            } else {
                                errorMessage('Formatted Data Is Not Supported.');
                            }
                        });
                        $('.deleteItem').click(function (e) {
                            e.preventDefault();
                            var $ctrl = $(this);
                            if (confirm('Do you really want to delete this file?')) {
                                $.ajax({
                                    url: '@Url.Action("DeleteFile")',
                                    type: 'POST',
                                    data: { id: $(this).data('id'), FileName: $(this).parent().find('.fname').text(), BannerAppId: '@Model.MLPermitApplicationID' }
                                }).done(function (data) {
                                    if (data.Result == "1") {
                                        $ctrl.closest('li').remove();
                                    }
                                    else {
                                        errorMessage("There is something wrong. Please try again.");
                                    }
                                }).fail(function () {
                                    errorMessage("There is something wrong. Please try again.");
                                })
                            }
                        });

                    });
                </script>
            }
