@using AutoMapper;
@{
    ViewBag.Title = "ManageSAReqDoc";

    List<TradingLicense.Model.RequiredDocModel>
    requiredDocList = new List<TradingLicense.Model.RequiredDocModel>
        ();
    using (var ctx = new TradingLicense.Data.LicenseApplicationContext())
    {
        var requiredDoc = ctx.RequiredDocs.ToList();
        requiredDocList = Mapper.Map<List<TradingLicense.Model.RequiredDocModel>>(requiredDoc);
    }
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Tambah Dokumen Wajib</h4>
    </div>
    <div class="body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmSAReqDoc", id = "frmSAReqDoc" }))
        {
            @Html.AntiForgeryToken()


            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Kelulusan<span class="cfont">*</span></div>
                        @*@Html.DropDownList("RequiredDoc", new SelectList(requiredDocList.OrderBy(x => x.RequiredDocDesc), "RequiredDocID", "RequiredDocDesc"), "Pilih Dokumen Wajib", new { @class = "form-control" })*@
                        <table class="table table-striped dataTable table-hover" id="Docs">
                            @foreach (var item in requiredDocList)
                            {
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label><input style="opacity:1;" class="chkDoc" value='@item.RequiredDocID' type="checkbox">@item.RequiredDocDesc</label>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button id="btnSubmit" type="button" class="btn btn-primary">
                            Simpan
                        </button>
                        <input type="button" class="btn btn-default" value="Batal" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
           var actionError = '@(TempData["ErrorMessage"])';
           if (actionError != null && actionError != "") {
                errorMessage(actionError);
            }
    function back() {
         var link = '@Url.Action("SAReqDoc", "StallApplication")';
        window.location.href = link;
    }
    $(document).ready(function () {
    $('#btnSubmit').click(function () {
            var list = [];
            var errorItemCount = 0;
            $(".chkDoc:checked").each(function() {
                var DocItems = {
                        SAReqDocID: 0,
                        RequiredDocID: $(this).val(),
                    }
                    list.push(DocItems);
            });
            if (list.length == 0)
            {
                errorMessage('Please Select Atleast One Document');
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '/StallApplication/SaveSAReqDoc',
                data: JSON.stringify(list),
                contentType: 'application/json',
                success: function (data) {
                    if (data == "0") {
                        errorMessage('Problem In Saving Data...Try Again.');
                    }
                    else {
                        window.location.href = '/StallApplication/SAReqDoc';
                    }
                },
                error: function (error) {
                    errorMessage(error);
                }
            });

    });
    });
    </script>
}
