@using TradingLicense.Infrastructure;
@using TradingLicense.Web.Classes;

<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.DeskOfficer, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Profile
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Senarai Individu (Test)", "Individual", "Master")</li>
                    <li>@Html.ActionLink("Senarai Syarikat (Test)", "Company", "Master")</li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Profile, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Profile
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Lesen Tred, Perniagaan &amp; Perindustrian</a></li>
                    <li><a href="#">Lesen Penjaja</a></li>
                    <li><a href="#">Lesen Pasar</a></li>
                    <li><a href="#">Lesen Iklan (Banting/Banner)</a></li>
                    <li><a href="#">Lesen Menjual Minuman Keras</a></li>
                    <li><a href="#">Lesen Pusat Hiburan</a></li>
                    <li>@Html.ActionLink("Senarai Individu (Test)", "Individual", "Master")</li>
                    <li>@Html.ActionLink("Senarai Syarikat (Test)", "Company", "Master")</li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Process, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Process
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Lesen Tred, Perniagaan & Perindustrian (Test)", "PremiseApplication", "PremiseApplication")</li>
                    <li><a href="#">Lesen Penjaja</a></li>
                    <li><a href="#">Lesen Pasar</a></li>
                    <li><a href="#">Lesen Iklan (Banting/Banner)</a></li>
                    <li><a href="#">Lesen Menjual Minuman Keras</a></li>
                    <li><a href="#">Lesen Pusat Hiburan</a></li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Inquiry, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Inquiry
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Owner Master</a></li>
                    <li><a href="#">Personal Detail</a></li>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Renewal Log</a></li>
                    <li><a href="#">Change Of Owner Log</a></li>
                    <li><a href="#">Change Of Business Log</a></li>
                    <li><a href="#">Change Of Address Log</a></li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.MasterSetup, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Master Setup
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Zone</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Road</a></li>
                    <li>@Html.ActionLink("Business Type (Test)", "BusinessType", "Master")</li>
                    <li>@Html.ActionLink("Business Code (Test)", "BusinessCode", "Master")</li>
                    <li><a href="#">Extra Fees</a></li>
                    <li>@Html.ActionLink("Holiday (Test)", "Holiday", "Master")</li>
                    <li><a href="#">Duration</a></li>
                    <li>@Html.ActionLink("Group (Test)", "Sector", "Master")</li>
                    <li>@Html.ActionLink("Premise Type (Test)", "PremiseType", "Master")</li>
                    <li>@Html.ActionLink("Application Status (Test)", "AppStatus", "Master")</li>
                    <li>@Html.ActionLink("Additional Document (Test)", "AdditionalDoc", "Master")</li>
                    <li>@Html.ActionLink("Required Document (Test)", "RequiredDoc", "Master")</li>
                    <li>@Html.ActionLink("Hawker Types (Test)", "HawkerType", "HawkerApplication")</li>
                    <li>@Html.ActionLink("Internal Unit (Test)", "Department", "Master")</li>
                    <li><a href="#">External Unit</a></li>
                    <li><a href="#">Unit Comment</a></li>
                    <li><a href="#">Unit Routing</a></li>
                    <li>@Html.ActionLink("Attachments (Test)", "Attachment", "Master")</li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Reporting, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Reporting
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Reporting, SystemEnum.PageRight.CrudLevel))
                    {
                    <li><a href="#">Received Applications</a></li>
                    }
                    @if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Reporting, SystemEnum.PageRight.CrudLevel2))
                    {
                    <li><a href="#">License/Business Type Master</a></li>
                    <li><a href="#">Zone Master</a></li>
                    <li><a href="#">Subzone Master</a></li>
                    <li><a href="#">Road Master</a></li>
                    <li><a href="#">Citizen Master</a></li>
                    <li><a href="#">Race Master</a></li>
                    <li><a href="#">Bank Master</a></li>
                    <li><a href="#">Owner Master</a></li>
                    <li><a href="#">Joint Owner</a></li>
                    <li><a href="#">Payment Transaction Listing</a></li>
                    <li><a href="#">Payment Collection Listing</a></li>
                    <li><a href="#">Payment Inquiry Listing Paid</a></li>
                    <li><a href="#">Payment Inquiry Listing Unpaid</a></li>
                    <li><a href="#">Duration Report</a></li>
                    <li><a href="#">Status Permohonan Lesen</a></li>
                    <li><a href="#">Senarai Keputusan Pembaharuan</a></li>
                    <li><a href="#">Analisa Pemohon Lesen</a></li>
                    <li><a href="#">Analisa Lokasi Permohonan Lesen</a></li>
                    <li><a href="#">Senarai Perniagaan</a></li>
                    <li><a href="#">Status Pergerakan Permohonan Lesen</a></li>
                    }
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Administrator, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Administrator
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("User List (Test)", "Userslist", "Master")</li>
                    <li>@Html.ActionLink("User Role (Test)", "RoleTemplate", "Master")</li>
                    <li>@Html.ActionLink("User Access (Test)", "AccessPage", "Master")</li>
                    <li>@Html.ActionLink("UnLock User (Test)", "Users", "Master")</li>
                    <li>@Html.ActionLink("Department (Test)", "Department", "Master")</li>                
                </ul>
            </li>
}
        </ul>
        <div class="navbar-right">
        @if (ProjectSession.User != null && ProjectSession.UserID > 0)
        {
            var fullName = ProjectSession.User.FullName;
            <div class="navbar-text">
                You are logged in as @fullName.
                @Html.ActionLink("Log Out", "Logout", "Account", null, new { @class = "btn btn-primary btn-xs" })
            </div>
        }
        else
        {
            <div class="navbar-text">
                You have logged out.
            </div>
        }
        </div>
    </div>
</div>
