@using TradingLicense.Infrastructure;
@using TradingLicense.Web.Classes;

<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.DeskOfficer, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Profail
                    <!--Profile-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Senarai Individu (Test)", "Individual", "Master")</li>
                    <li>@Html.ActionLink("Senarai Syarikat (Test)", "Company", "Master")</li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Profile, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Profail
                    <!--Profile-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Lesen Berniaga</a></li>
                    <li><a href="#">Lesen Penjaja</a></li>
                    <li><a href="#">Lesen Pasar</a></li>
                    <li><a href="#">Lesen Hiburan</a></li>
                    <li><a href="#">Lesen Premis Pemberi Pinjam Wang</a></li>
                    <li><a href="#">Permit Iklan Pemberi Pinjam Wang</a></li>
                    <li><a href="#">Lesen Minuman Keras</a></li>
                    <li><a href="#">Lesen Iklan</a></li>
                    <li>@Html.ActionLink("Senarai Individu (Test)", "Individual", "Master")</li>
                    <li>@Html.ActionLink("Senarai Syarikat (Test)", "Company", "Master")</li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Process, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Proses
                    <!--Process-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Lesen Berniaga (Test)", "PremiseApplication", "PremiseApplication")</li>
                    <li>@Html.ActionLink("Lesen Penjaja (Test)", "HawkerApplication", "HawkerApplication")</li>
                    <li>@Html.ActionLink("Lesen Pasar (Test)", "StallApplication", "StallApplication")</li>
                    <li>@Html.ActionLink("Lesen Hiburan (Test)", "EntmtApplication", "EntmtApplication")</li>
                    <li><a href="#">Lesen Premis Pemberi Pinjam Wang</a></li>
                    <li><a href="#">Permit Iklan Pemberi Pinjam Wang</a></li>
                    <li>@Html.ActionLink("Lesen Minuman Keras (Test)", "LiquorApplication", "LiquorApplication")</li>
                    <li>@Html.ActionLink("Lesen Iklan (Test)", "BannerApplication", "BannerApplication")</li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Inquiry, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Inkuiri
                    <!--Inquiry-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Owner Master</a></li>
                    <li><a href="#">Personal Detail</a></li>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Renewal Log</a></li>
                    <li><a href="#">Change Of Owner Log</a></li>
                    <li><a href="#">Change Of Business Log</a></li>
                    <li><a href="#">Change Of Address Log</a></li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.MasterSetup, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Tetapan Utama
                    <!--Master Setup-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Zon (Test)", "Zone", "Master")</li>
                    <li>@Html.ActionLink("Lokasi (Test)", "Location", "Master")</li>
                    <li>@Html.ActionLink("Jalan (Test)", "Road", "Master")</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Senarai Kumpulan</a></li>
                    <li>@Html.ActionLink("Lesen Berniaga (Test)", "Sector", "Master")</li>
                    <li>@Html.ActionLink("Lesen Untuk Membuka Tempat Hiburan (Test)", "EntmtGroup", "EntmtApplication")</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Kod Perniagaan</a></li>
                    <li>@Html.ActionLink("Lesen Berniaga (Test)", "BusinessCode", "PremiseApplication")</li>
                    <li>@Html.ActionLink("Lesen Penjaja (Test)", "HawkerCode", "HawkerApplication")</li>
                    <li>@Html.ActionLink("Lesen Pasar (Test)", "StallCode", "StallApplication")</li>
                    <li>@Html.ActionLink("Lesen Membuka Tempat Hiburan (Test)", "EntmtCode", "EntmtApplication")</li>
                    <li>@Html.ActionLink("Lesen Hiburan (Test)", "EntmtObject", "EntmtApplication")</li>
                    <li>@Html.ActionLink("Lesen Iklan (Test)", "BannerCode", "BannerApplication")</li>
                    <li>@Html.ActionLink("Lesen Minuman Keras (Test)", "LiquorCode", "LiquorApplication")</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Dokumen Wajib</a></li>
                    <li>@Html.ActionLink("Lesen Iklan (Test)", "BAReqDoc", "BannerApplication")</li>
                    <li>@Html.ActionLink("Lesen Pasar (Test)", "SAReqDoc", "StallApplication")</li>
                    <li>@Html.ActionLink("Lesen Penjaja (Test)", "HAReqDoc", "HawkerApplication")</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Jenis Perniagaan (Test)", "BusinessType", "Master")</li>
                    <li>@Html.ActionLink("Senarai Cuti (Test)", "Holiday", "Master")</li>
                    <li>@Html.ActionLink("Jenis Premis (Test)", "PremiseType", "Master")</li>
                    <li>@Html.ActionLink("Senarai Status Permohonan (Test)", "AppStatus", "Master")</li>
                    <li>@Html.ActionLink("Dokumen Tambahan (Test)", "AdditionalDoc", "Master")</li>
                    <li>@Html.ActionLink("Dokumen Wajib (Test)", "RequiredDoc", "Master")</li>
                    <li>@Html.ActionLink("Unit Dalaman (Test)", "Department", "Master", new { Type = 1 }, null)</li>
                    <li>@Html.ActionLink("Unit Luaran (Test)", "Department", "Master", new { Type = 2 }, null)</li>
                    <li><a href="#">Komen Unit</a></li>
                    <li><a href="#">Had Tempoh Pemprosesan</a></li>
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Reporting, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Laporan
                    <!--Reports-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Reporting, SystemEnum.PageRight.CrudLevel))
                    {
                    <li><a href="#">Received Applications</a></li>
                    }
                    @if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Reporting, SystemEnum.PageRight.CrudLevel2))
                    {
                    <li><a href="#">License/Business Type Master</a></li>
                    <li><a href="#">Zone Master</a></li>
                    <li><a href="#">Subzone Master</a></li>
                    <li><a href="#">Road Master</a></li>
                    <li><a href="#">Citizen Master</a></li>
                    <li><a href="#">Race Master</a></li>
                    <li><a href="#">Bank Master</a></li>
                    <li><a href="#">Owner Master</a></li>
                    <li><a href="#">Joint Owner</a></li>
                    <li><a href="#">Payment Transaction Listing</a></li>
                    <li><a href="#">Payment Collection Listing</a></li>
                    <li><a href="#">Payment Inquiry Listing Paid</a></li>
                    <li><a href="#">Payment Inquiry Listing Unpaid</a></li>
                    <li><a href="#">Duration Report</a></li>
                    <li><a href="#">Status Permohonan Lesen</a></li>
                    <li><a href="#">Senarai Keputusan Pembaharuan</a></li>
                    <li><a href="#">Analisa Pemohon Lesen</a></li>
                    <li><a href="#">Analisa Lokasi Permohonan Lesen</a></li>
                    <li><a href="#">Senarai Perniagaan</a></li>
                    <li><a href="#">Status Pergerakan Permohonan Lesen</a></li>
                    <li><a href="../Print/Print">Laporan Kod Perniagaan</a></li>
                    }
                </ul>
            </li>
}
@if (TradingLicenseCommon.HasAccess(SystemEnum.Page.Administrator, SystemEnum.PageRight.CrudLevel))
{
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Pentadbir Sistem
                    <!--Administrator-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Senarai Pengguna (Test)", "Userslist", "Master")</li>
                    <li>@Html.ActionLink("Peranan Pengguna (Test)", "RoleTemplate", "Master")</li>
                    <li>@Html.ActionLink("Had Capaian Pengguna (Test)", "AccessPage", "Master")</li>
                    <li>@Html.ActionLink("Senarai Pengguna Terkunci (Test)", "Users", "Master")</li>
                    <li>@Html.ActionLink("Senarai Jabatan (Test)", "Department", "Master")</li>
                    <li>@Html.ActionLink("Senarai Log Masuk Pengguna (Test)", "LoginLog", "Master")</li>                                
                </ul>
            </li>
}
        </ul>
        <div class="navbar-right">
        @if (ProjectSession.User != null && ProjectSession.UserID > 0)
        {
            var fullName = ProjectSession.User.FullName;
            <div class="navbar-text">
                Anda telah log masuk sebagai @fullName.
                <!--You are logged in as-->
                @Html.ActionLink("Log Keluar", "Logout", "Account", null, new { @class = "btn btn-primary btn-xs" })
            </div>
        }
        else
        {
            <div class="navbar-text">
                Anda telah Log Keluar.
                <!--You have logged out.-->
            </div>
        }
        </div>
    </div>
</div>
