@using AutoMapper;
@model TradingLicense.Model.BusinessCodeModel
@{
    ViewBag.Title = "ManageBusinessCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<TradingLicense.Model.SectorModel> sectorList = new List<TradingLicense.Model.SectorModel>();
    List<TradingLicense.Model.AdditionalDocModel> additionalDocsList = new List<TradingLicense.Model.AdditionalDocModel>();
    using (var ctx = new TradingLicense.Data.LicenseApplicationContext())
    {
        var sector = ctx.Sectors.ToList();
        sectorList = Mapper.Map<List<TradingLicense.Model.SectorModel>>(sector);

        var additionaDocs = ctx.AdditionalDocs.ToList();
        additionalDocsList = Mapper.Map<List<TradingLicense.Model.AdditionalDocModel>>(additionaDocs);
    }

    List<SelectListItem> modeList = new List<SelectListItem>();
    modeList.Add(new SelectListItem { Text = "Ekspres", Value = "1" });
    modeList.Add(new SelectListItem { Text = "Pengarah", Value = "2" });
    modeList.Add(new SelectListItem { Text = "Mesyuarat JP", Value = "3" });
    modeList.Add(new SelectListItem { Text = "KPE", Value = "4" });

    List<SelectListItem> periodList = new List<SelectListItem>();
    periodList.Add(new SelectListItem { Text = "Tahun", Value = "1" });
    periodList.Add(new SelectListItem { Text = "Bulan", Value = "2" });
    periodList.Add(new SelectListItem { Text = "Minggu", Value = "3" });
    periodList.Add(new SelectListItem { Text = "Hari", Value = "4" });
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Kemaskini Kod Perniagaan Lesen Tred</h4>
    </div>
    <div class="body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmBusinessCode", id = "frmBusinessCode" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.BusinessCodeID)

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Kumpulan Kod<span class="cfont">*</span></div>
                        @Html.DropDownListFor(m => m.SectorID, new SelectList(sectorList, "SectorID", "SectorDesc"), "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SectorID)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Kod Perniagaan<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.CodeNumber, new { @class = "form-control", @maxlength = "5" })
                        @Html.ValidationMessageFor(m => m.CodeNumber)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Aktiviti Perniagaan<span class="cfont">*</span></div>
                        @Html.TextAreaFor(m => m.CodeDesc, new { @class = "form-control", @maxlength = "255" })
                        @Html.ValidationMessageFor(m => m.CodeDesc)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Fi Mengikut meter persegi<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.DefaultRate, new { @class = "form-control allownumericwithdecimal" })
                        @Html.ValidationMessageFor(m => m.DefaultRate)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Fi Mengikut Setiap Lesen<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.BaseFee, new { @class = "form-control allownumericwithdecimal" })
                        @Html.ValidationMessageFor(m => m.BaseFee)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Tempoh Sah Lesen<span class="cfont">*</span></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PeriodQuantity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PeriodQuantity)
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.Period, new SelectList(periodList, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                            <div class="control-label">Kelulusan<span class="cfont">*</span></div>
                            @Html.DropDownListFor(model => model.Mode, new SelectList(modeList, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Active)
                                <span>Active</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="control-label">Unit Teknikal / Jabatan</div>
                        @Html.DropDownList("Departments", new SelectList(Model.selectedDepartments.OrderBy(x => x.text), "id", "text"), "Sila pilih Jabatan", new { @id = "departmentList", @class = "form-control", multiple = "true", onchange = "changeDepartments()" })
                        @Html.HiddenFor(model => model.DepartmentIDs)
                    </div>
                </div>
            </div>
            <div class="row" style="max-height:180px; overflow:auto;">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Dokumen Tambahan</div>
                        @foreach (var item in additionalDocsList)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="AdditionalDocs"
                                           value="@item.AdditionalDocID"
                                           @if (Model.AdditionalDocs?.Any(adID => adID == item.AdditionalDocID) == true) { <text> checked</text> } />
                                    <span>@item.DocDesc</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Simpan" />
                        <input type="button" class="btn btn-default" value="Batal" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>

        $(function () {
            $("#Sectorlist").select2();

            function formatDepartments(data) {
                var r = data.text.split('~');
                var $result = $(
                    '<div class="row">' +
                        '<div class="col-md-2">' + r[0] + '</div>' +
                        '<div class="col-md-10">' + r[1] + '</div>' +
                    '</div>'
                );
                return $result;
            }

            function formatDepartmentSelection(data) {
                var r = data.text.split('~');
                var $result = $(
                    '<span>' +
                        r[0] + ' - ' + r[1] +
                    '</span>'
                );
                return $result;
            }

            $("#departmentList").select2({
                placeholder: "Sila pilih jabatan",
                minimumInputLength: 0,
                templateResult: formatDepartments,
                templateSelection: formatDepartmentSelection,
                ajax: {
                    type: "POST",
                    url: encodeURI('@Url.Action("FillDepartments", "PremiseApplication")'),
                    //Data: allows us to pass a parameter to the controller
                    data: function (query) {
                        //console.log(query)
                        return {
                            query: query.term
                        }
                    },
                    //processes the results from the JSON method and gives us the select list
                    processResults: function (data) {
                        //console.log(data)
                        return {
                            results: data
                        };
                    }
                }
            });

            var departmentSelecteId = [];
            if ('@Model.DepartmentIDs' != null && '@Model.DepartmentIDs' != '') {
                var DepartmentIds = '@Model.DepartmentIDs';

                var arr = DepartmentIds.split(',');
                $.each(arr, function (index, value) {
                    departmentSelecteId.push(value);
                });
                $('#departmentList').val(departmentSelecteId);
                $('#departmentList').trigger('change');
            } else {
                businessSelecteId = [];
            }
        });

        var actionError = '@(TempData["ErrorMessage"])';
        if (actionError != null && actionError != "") {
            errorMessage(actionError);
        }
        function back() {
            var link = '@Url.Action("BusinessCode", "PremiseApplication")';
            window.location.href = link;
        }

        function changeDepartments() {
            $('#DepartmentIDs').val($('#departmentList').val());
        }

        $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $(".allownumeric").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    </script>
}
