@model TradingLicense.Model.PremiseApplicationModel
@using AutoMapper;
@{
    ViewBag.Title = "View Premise License Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">View Premise License Application: @Model.ToString()</h4>
    </div>
    <div class="body">
        @Html.HiddenFor(m => m.PremiseApplicationID)
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <div class="control-label">Jenis Kelulusan</div>
                    <div class="well">
                        @switch (Model.Mode)
                        {
                            case 1:
                                <label>Ekspres</label>
                                break;
                            case 2:
                                <label>Kelulusan Pengarah</label>
                                break;
                            case 3:
                                <label>Kelulusan KPE</label>
                                break;
                            case 4:
                                <label>Kelulusan Mesyuarat</label>
                                break;
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <div class="control-label">Jenis Perniagaan</div>
                    <div class="well">@Model.BusinessTypeDesc</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <div class="control-label">Kumpulan Kod Perniagaan</div>
                    <div class="well">@Model.SectorDesc</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="control-label">Kod Perniagaan</div>
                    <div class="well">
                        @foreach (var item in Model.businessCodeList)
                        {
                            @item.ToString();<br />
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="control-label">Nama Penuh (MyKad/Paspot)</div>
                    <div class="well">
                        @foreach (var item in Model.indLinkList)
                        {
                            @Html.ActionLink(item.IndName, "ViewIndividual", "master", new { id = item.IndListID }, new { target = "_blank" });
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="control-label">Nama Syarikat</div>
                    <div class="well">@Html.ActionLink(Model.CompanyName, "ManageCompany", "master", new { id = Model.CompanyID }, new { target = "_blank" })</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="control-label">Alamat Premis Yang Dipohon</div>
                    <div class="well">
                        @Model.Addra1
                        @if (Model.Addra2 != null)
                        {
                            <label>, @Model.Addra2</label>
                        }
                        @if (Model.Addra3 != null)
                        {
                            <label>, @Model.Addra3</label>
                        }
                        @if (Model.Addra4 != null)
                        {
                            <label>, @Model.Addra4</label>
                        }
                        @Model.PcodeA, @Model.StateA
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Luas Premis</div>
                    <div class="well">@Model.PremiseArea</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Pemilikan Premis</div>
                    <div class="well">
                     @switch (Model.PremiseOwnership)
                        {
                            case 1:
                                <label>Pemilikan Sendiri</label>
                                break;
                            case 2:
                                <label>Sewaan</label>
                                break;
                        }</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Tempoh Sewaan Premis</div>
                    <div class="well">Dari @Model.StartRent.ToString("dd-MMM-yyyy") hingga @Model.StopRent.ToString("dd-MMM-yyyy")</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Premise Type</div>
                    <div class="well">
                        @Model.PremiseDesc
                        @if (Model.OtherPremiseType != null)
                        {
                            <br /><label>@Model.OtherPremiseType</label>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Tingkat</div>
                    <div class="well">@Model.WhichFloor</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12" id="RequiredDocument">
                <div class="form-group">
                    <div class="control-label">
                        Senarai Dokumen Wajib
                    </div>
                    <div class="well">
                    @foreach (var item in Model.RequiredDocNames)
                    {
                        @Html.ActionLink(item.reqDocDesc, "Download", "PremiseApplication", new { filename = item.AttName }, new { target = "_blank" });<br />
                    }
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" id="AdditionalDocument">
                <div class="form-group">
                    <div class="control-label">
                        Senarai Dokumen Tambahan
                    </div>
                    <div class="well">
                       @foreach (var item in Model.AdditionalDocDescs)
                       {
                            @Html.ActionLink(item.addDocDesc, "Download", "PremiseApplication", new { filename = item.AttName }, new { target = "_blank" });<br />
                       }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">

                    @if (Model.UserRollTemplate == (int)TradingLicense.Infrastructure.Enums.RollTemplate.RouteUnit && Model.AppStatusID == (int)TradingLicense.Infrastructure.Enums.PAStausenum.unitroute)
                    {
                        <input type="button" class="btn btn-primary btSubmit" value="Ulasan" id="btnRouteUnitResponse" name="btnRouteUnitResponse" onclick="return Approvedreject()" />
                    }
                    <input type="button" class="btn btn-default" value="Kembali" onclick="back()" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">License Details</h4>
            </div>
            <div class="modal-body">
                <p><iframe id="ifrm" src="" height="500" width="850" frameborder="0"></iframe></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--approved/reject-->
<div id="approvedrejectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->

        @using (Html.BeginForm("SaveRouteUnitComment", "PremiseApplication", FormMethod.Post, new { name = "frmsaveComment", id = "frmsaveComment" }))
        {
            List<SelectListItem> supportList = new List<SelectListItem>();
            supportList.Add(new SelectListItem { Text = "Tiada Halangan", Value = "1" });
            supportList.Add(new SelectListItem { Text = "Ada Halangan", Value = "0" });
            @Html.HiddenFor(m => m.PremiseApplicationID)
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ulasan Unit Teknikal/Jabatan Luar</h4>
                </div>
                <div class="modal-body">
                    <textarea rows="5" cols="65" class="classOfSelector" id="txtComment" name="comment" maxlength="255" autofocus="autofocus" placeholder="Ulasan..."></textarea>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="control-label">Keputusan</div>
                                @Html.DropDownList("Supported", new SelectList(supportList, "Value", "Text"), "Sila pilih salah satu", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" onclick="return validateRouteUnitResponse()">Hantar ke Unit Pelesenan</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                </div>
            </div>
        }

    </div>
</div>

@section scripts{
    <script>
        function back() {
          var link = '@Url.Action("PremiseApplication", "PremiseApplication")';
          window.location.href = link;
        }

        function Approvedreject() {
            $('#approvedrejectModal').modal('show');
            return false;
        }

        function validateRouteUnitResponse() {
            if ($('#txtComment').val() == "") {
                alert("Please Enter your comment");
                return false;
            } else if ($('#Supported').val() == "") {
                alert("Please select Do you support this Premise application");
                return false;
            }
            return true;
        }

        $(document).ready(function () {
            $('#btnLetter').click(function () {
                var AppId = $('#PremiseApplicationID').val();
                $('.modal-body iframe').attr('src', "../PremiseApplication/GeneratLicense?AppId=" + AppId);
                $('#myModal').modal('show');
            });
        });
    </script>
}