@model TradingLicense.Model.PremiseApplicationModel
@using AutoMapper;
@{
    ViewBag.Title = "View Premise License Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">View Premise License Application: @Model.ToString()</h4>
    </div>
    <div class="body">
        @Html.HiddenFor(m => m.PremiseApplicationID)
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <div class="control-label">Jenis Kelulusan</div>
                    <div class="well">
                        @switch (Model.Mode)
                            {
                                case 1:
                                <label>Ekspres</label>
                                    break;
                                case 2:
                                <label>Kelulusan Pengarah</label>
                                    break;
                                case 3:
                                <label>Kelulusan KPE</label>
                                    break;
                                case 4:
                                <label>Kelulusan Mesyuarat</label>
                                break;
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <div class="control-label">Jenis Perniagaan</div>
                    <div class="well">@Model.BusinessTypeID</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <div class="control-label">Kumpulan Kod Perniagaan</div>
                    <div class="well">@Model.SectorID</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="control-label">Kod Perniagaan</div>
                    <div class="well">
                       
                            <label>@Model.selectedbusinessCodeList</label>
                            <br />
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="control-label">Nama Penuh (MyKad/Paspot)</div>
                    <div class="well">
                        <label>@Model.Individualids</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="control-label">Nama Syarikat</div>
                    <div class="well">@Model.CompanyName</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="control-label">Alamat Premis Yang Dipohon</div>
                    <div class="well">
                        @Model.Addra1
                        @if (Model.Addra2 != null)
                        {
                            <label>, @Model.Addra2</label>
                        }
                        @if (Model.Addra3 != null)
                        {
                            <label>, @Model.Addra3</label>
                        }
                        @if (Model.Addra4 != null)
                        {
                            <label>, @Model.Addra4</label>
                        }
                        @Model.PcodeA, @Model.StateA
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Luas Premis</div>
                    <div class="well">@Model.PremiseArea</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Pemilikan Premis</div>
                    <div class="well">@Model.PremiseOwnership</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Tempoh Sewaan Premis</div>
                    <div class="well">Dari @Model.StartRent hingga @Model.StopRent</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Premise Type</div>
                    <div class="well">
                        @Model.PremiseDesc
                        @if (Model.OtherPremiseType != null)
                        {
                            <br /><label>@Model.OtherPremiseType</label>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="control-label">Tingkat</div>
                    <div class="well">@Model.WhichFloor</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12" id="RequiredDocument">
                <div class="form-group">
                    <div class="control-label">
                        Senarai Dokumen Wajib
                    </div>
                    <div class="well">
                        @Model.RequiredDocIds
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" id="AdditionalDocument">
                <div class="form-group">
                    <div class="control-label">
                        Senarai Dokumen Tambahan
                    </div>
                    <div class="well">
                        @Model.AdditionalDocIds
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <input type="button" class="btn btn-default" value="Kembali" onclick="back()" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    function back() {
        var link = '@Url.Action("PremiseApplication", "PremiseApplication")';
        window.location.href = link;
    }

       
</script>
}