@using TradingLicense.Infrastructure;
@using TradingLicense.Web.Classes;
@{
    ViewBag.Title = "Application";
    int? userRollTemplate = TradingLicense.Infrastructure.ProjectSession.User?.ROLEID;

    List<SelectListItem> LicenseList = new List<SelectListItem>();
    LicenseList.Add(new SelectListItem { Text = "Lesen Tred, Perniagaan & Perindustrian", Value = "1" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Petempatan Makanan", Value = "2" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Hotel dan Rumah Tumpangan", Value = "3" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Pengurusan Skrap", Value = "4" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Iklan", Value = "5" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Penjaja", Value = "6" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Pasar", Value = "7" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Minuman Keras", Value = "8" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Pemberi Pinjam Wang", Value = "9" });
    LicenseList.Add(new SelectListItem { Text = "Lesen Hiburan", Value = "10" });
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <div class="row">
            <div class="col-lg-10">
                <h4>Senarai Profail Lesen</h4>
            </div>
        </div>
    </div>
    <div class="filter-block">
        <div class="row small-gutter">
            <form>
                <div class="col-xs-4">                    
                    @Html.DropDownList("LicenseType", new SelectList(LicenseList, "Value", "Text"), "Pilih Jenis Lesen", new { @id = "txtLicenseID", @class = "form-control" })                   
                </div>
                <div class="col-xs-4">
                    <input type="text" name="txtRefNo" id="txtRefNo" class="form-control" placeholder="No. Rujukan" maxlength="100" />
                </div>               
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary" onclick="return bindTable();">Cari</button>
                    <button type="button" class="btn btn-default" onclick="return clearControls();">Kosongkan</button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid" id="divApplicationTable">
        <table cellspacing="0" class="table table-striped" id="tblApplication"></table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
                    var IsEdit = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.Application, SystemEnum.PageRight.CrudLevel3)';
                    var IsDelete = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.Application, SystemEnum.PageRight.CrudLevel4)';
                    var IsView = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.Application, SystemEnum.PageRight.CrudLevel)';
                    $(function () {

                        $('.form-control').keypress(function (e) {
                            if (e.which == 13) {
                                bindTable();
                                return false;
                            }
                        });

                        var success = '@(TempData["SuccessMessage"])';
                        if (success != null && success != "") {
                            successMessage(success);
                        }
                        bindTable();
                    });
                    var restrictSubmittedApps = @((userRollTemplate.HasValue && (userRollTemplate.Value == (int)TradingLicense.Infrastructure.Enums.RollTemplate.RouteUnit)).ToString().ToLower());
                    

                    function bindTable() {

                        if (!isValidSearchCriteria('SearchCriteria')) { return false; }

                        if ($.fn.DataTable.isDataTable("#tblApplication")) {
                            $('#tblApplication').dataTable().fnDestroy();
                            $('#divApplicationTable').html('<table class="table table-striped" width="100%"  id="tblApplication"></table>');
                        }

                        table = $("#tblApplication").dataTable({
                            "autoWidth": false,
                            "searching": false,
                            "paging": true,
                            "sPaginationType": "full_numbers",
                            "language": {
                                "lengthMenu": "Page Size : _MENU_ ",
                                "info": "Records _START_ to _END_ of (_TOTAL_)",
                                "emptyTable": "No Record(s) Found"
                            },
                            "processing": true,
                            "serverSide": true,
                            "pageLength": 10,
                            "ajax": {
                                url: '@Url.Action("ProfileList", "Profile")',
                                type: "POST",
                                data: bindSearch()
                            },
                            "columns": [
                                {
                                    "targets": 0,
                                    "searchable": false,
                                    "orderable": false,
                                    "title": "No.",
                                    "data": null,
                                    "render": function (data, type, full, meta) {
                                        return meta.settings._iDisplayStart + meta.row + 1;
                                    }
                                },
                                { "title": "No. Rujukan", "data": "PRF_NO" },
                                { "title": "Jenis Lesen", "data": "LicenseTypeDesc" },                                
                                { "title": "Syarikat", "data": "CompanyName" },
                                { "title": "Tarikh Memohon", "data": "SUBMIT", render: renderDate },
                                { "title": "Dikemaskini Oleh", "data": "UPDATED_BY" },                                
                                {
                                    "title": "Tindakan",
                                    "data": null,
                                    "render": function (data, type, row) {
                                        var appendstring = '';
                                        
                                        
                                            if (IsEdit != "False") {
                                                appendstring += '<a  href="@Url.Action("ViewProfile", "Profile")?Id=' + row["APP_ID"] + '" title="Perincian"> <img src="@Url.Content("~/images/view.png")" alt="View" /></a>&nbsp; ';
                                            }
                                            
                                        
                                        return appendstring
                                    },
                                    "width": "100px",
                                    "orderable": false,
                                    "class": "action-icons"
                                }
                            ],
                            "drawCallback": function (settings) {
                                //hide paging and info when empty datattable
                                var api = this.api();
                                if (api.rows({ page: 'current' }).data().length <= 0) {
                                    $('#tblApplication_info').hide();
                                    $('#tblApplication_paginate').hide();
                                    $('#tblApplication_length').hide();
                                }
                                else {
                                    $('#tblApplication_info').show();
                                    $('#tblApplication_paginate').show();
                                    $('#tblApplication_length').show();
                                }
                                bindSortingArrow();
                            }
                        });
                    }

                    function clearControls() {
                        $("#txtRefNo").val('');
                        $("#txtLicenseID").val('');
                        bindTable();
                    }

                    function bindSearch() {
                        var param = {};
                        param["ReferenceNo"] = $('#txtRefNo').val();
                        param["LicenseTypeID"] = $('#txtLicenseID').val();
                        return param;
                    }

                    function isValidSearchCriteria(formName) {
                        var isValid = true;
                        $("form#" + formName + " input[type=text]").each(function () {
                            if ($(this).val().match(/[<>]/)) {
                                $(this).addClass('input-validation-error');
                                isValid = false;
                            }
                            else {
                                $(this).removeClass('input-validation-error');
                            }
                        });
                        return isValid;
                    }                    

    </script>
}
