@using TradingLicense.Web.Pages;
@model TradingLicense.Model.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="~/images/favicon.png" />
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>*@
    <div class="vertical-wrapper">
        <div class="login-panel-wrapper">
            <div class="login-panel">
                <div class="logo">
                    <a href="#" title="Trading LIcense">
                        <img src="@Url.Content("~/Content/images/logo.png")" />
                    </a>
                </div>

                @using (Html.BeginForm(Actions.ResetPassword, TradingLicense.Web.Pages.Controllers.Account, new { Area = "" }, FormMethod.Post, new { id = "frmResetPassword" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.RoleTypeId)
                    if (ViewBag.IsVisible == 1)
                    {
                        <div>
                            <center>
                                <h6><span> Reset Password. </span></h6><br />
                            </center>
                        </div>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password", @maxlength = "32" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", @maxlength = "32" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>

                        <button type="submit" class="btn btn-primary fluid" onclick="return checkpassword();">Change Password</button><br /><br />

                        <div class="row">
                            <div class="col-sm-6">
                                <a href="@Url.Action(Actions.LogIn, TradingLicense.Web.Pages.Controllers.Account)" title="Login">Login</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <center>
                                <a href="@Url.Action(Actions.LogIn, TradingLicense.Web.Pages.Controllers.Account)" title="Login">Login</a>
                            </center>
                        </div>
                    }
                }

            </div>
            <p class="copyright" style="padding:0px;">&copy;@DateTime.Now.Year Trading License. All rights reserved.</p>
        </div>
    </div>
    @Html.Raw(ViewBag.openPopup)
@*</body>
</html>*@

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });

        function checkpassword() {

            if ($("#frmResetPassword").valid()) {

                if (checkStrength($('#NewPassword').val()) < 3) {
                    ShowMessageToastr('danger', 'Password must contain lowercase,uppercase, number and one special character.');
                    return false;
                } else {
                    return true;
                }
            }
            else {
                return false;
            }
        }

    </script>
    }