
@{
    ViewBag.Title = "Banner Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMessage"></div>
<div class="card">
    <ul class="page-action-button">
        <li><a href="#" title="Add Banner Code" onclick="addBannerCode();"><img src="@Url.Content("~/images/add.png")" alt="Add Banner Code"></a></li>
    </ul>
    <div class="header">
        <h4>Kod Perniagaan Lesen Iklan</h4>
    </div>
    <div class="filter-block">
        <div class="row small-gutter">
            <form>
                <div class="col-xs-4">
                    <input type="text" name="txtbannerCodeDesc" id="txtbannerCodeDesc" class="form-control" placeholder="Masukkan Kod Perniagaan" maxlength="100" />
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary" onclick="return bindTable();">Cari</button>
                    <button type="button" class="btn btn-default" onclick="return clearControls();">Kosongkan</button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid" id="divtblBannerCode">
        <table cellspacing="0" class="table table-striped" id="tblBannerCode"></table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    $(function () {
        $('.form-control').keypress(function (e) {
            if (e.which == 13) {
                bindTable();
                return false;
            }
        });
         var success = '@(TempData["SuccessMessage"])';
                if (success != null && success != "") {
                    successMessage(success);
                }
        bindTable();
        });

        function addBannerCode() {
           var link = '@Url.Action("ManageBannerCode", "BannerApplication")';
             window.location.href = link;
        }

     function bindTable() {
         if (!isValidSearchCriteria('SearchCriteria')) { return false; }
         if ($.fn.DataTable.isDataTable("#tblBannerCode")) {
             $('#tblBannerCode').dataTable().fnDestroy();
             $('#divtblBannerCode').html('<table class="table table-striped" width="100%"  id="tblBannerCode"></table>');
                }

         table = $("#tblBannerCode").dataTable({
             "autoWidth": false,
             "searching": false,
             "paging": true,
             "sPaginationCode": "full_numbers",
             "language": {
                 "lengthMenu": "Page Size : _MENU_ ",
                 "info": "Records _START_ to _END_ of (_TOTAL_)",
                 "emptyTable": "No Record(s) Found"
             },
             "processing": true,
             "serverSide": true,
             "pageLength": 10,
                    "ajax": {
                        url: '@Url.Action("BannerCode", "BannerApplication")',
                        type: "POST",
                        data: bindSearch()
                    },
                    "columns": [
                        {
                            "targets": 0,
                            "searchable": false,
                            "orderable": false,
                            "title": "No.",
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return meta.settings._iDisplayStart + meta.row + 1;
                            }
                        },
                        { "title": "Kod Iklan", "data": "BCodeNumber" },
                        { "title": "Tajuk", "data": "BannerCodeDesc" },
                        {
                            "title": "Fi Tahunan",
                            "data": "PeriodFee",
                            "render": $.fn.dataTable.render.number(',', '.', 2, 'RM'),
                        },
                        {
                            "title": "Aktif",
                            "data": "Active",
                            "render": function (data, type, row) {
                                if (data) {
                                    return '<label class="label label-success">Aktif</label>';
                                }
                                else {
                                    return '<label class="label label-danger">Tidak Aktif</label>';
                                }
                            },
                            "width": "10%",
                            "orderable": true,
                        },
                        {
                            "title": "Ubah/Padam",
                            "data": null,
                            "render": function (data, type, row) {
                                var appendstring = '';
                                appendstring += '<a  href="@Url.Action("ManageBannerCode", "BannerApplication")?Id=' + row["BannerCodeID"] + '" title="Edit"> <img src="@Url.Content("~/images/edit.png")" alt="Edit" /></a>&nbsp; '
                                appendstring += '<a href="javascript:void(0);" data-id="' + row["BannerCodeID"] + '" onclick="bindDelete(this);" title="Delete"><img src="@Url.Content("~/images/delete.png")" alt="Delete" /></a>';
                                return appendstring
                        },
                            "width": "80px",
                    "orderable": false,
                    "class": "action-icons"
                }
             ],
             "drawCallback": function (settings) {
                 //hide paging and info when empty datattable
                 var api = this.api();
                 if (api.rows({ page: 'current' }).data().length <= 0) {
                     $('#tblBannerCode_info').hide();
                     $('#tblBannerCode_paginate').hide();
                     $('#tblBannerCode_length').hide();
                 }
                 else {
                     $('#tblBannerCode_info').show();
                     $('#tblBannerCode_paginate').show();
                     $('#tblBannerCode_length').show();
                 }
                 bindSortingArrow();
             }
                });
        }

        function clearControls() {
            $("#txthawkerDesc").val('');
            bindTable();
        }

        function bindSearch() {
            var param = {};
            param["hawkerDesc"] = $('#txthawkerDesc').val();
            return param;
        }

        function isValidSearchCriteria(formName) {
            var isValid = true;

            $("form#" + formName + " input[type=text]").each(function () {
                if ($(this).val().match(/[<>]/)) {
                    $(this).addClass('input-validation-error');
                    isValid = false;
                }
                else {
                    $(this).removeClass('input-validation-error');
                }
            });
            return isValid;
        }

        function bindDelete(item) {
            var x = confirm("Are you sure you want to delete?");
            if (x) {
                $.ajax({
                    type: "POST",
                    url: encodeURI('@Url.Action("DeleteBannerCode", "BannerApplication")'),
                    data: { "Id": $(item).attr('data-id') },
                    cache: false,
                    dataCode: 'json',
                    success: function (data, textStatus, XMLHttpRequest) {
                        if (data.success) {
                            bindTable();
                            successMessage(data.message);
                        }
                        else {
                            successMessage(data.message);
                        }
                    },
                    error: function (jqXHR, exception, errMsg) {
                    }
                });
            }
        }

    </script>
}