@model TradingLicense.Model.BannerApplicationModel
@using AutoMapper;
@{
    ViewBag.Title = "ManageBannerApplication";
}
@{
    List<TradingLicense.Entities.BAReqDoc> bannerDocList = new List<TradingLicense.Entities.BAReqDoc>();
    List<TradingLicense.Model.CompanyModel> companyList = new List<TradingLicense.Model.CompanyModel>();
    List<TradingLicense.Model.IndividualModel> individualList = new List<TradingLicense.Model.IndividualModel>();
    List<TradingLicense.Model.BannerCodeModel> bannerCodeList = new List<TradingLicense.Model.BannerCodeModel>();
    List<TradingLicense.Model.LocationModel> locationList = new List<TradingLicense.Model.LocationModel>();

    using (var ctx = new TradingLicense.Data.LicenseApplicationContext())
    {
        var individuals = ctx.Individuals.ToList();
        individualList = Mapper.Map<List<TradingLicense.Model.IndividualModel>>(individuals);

        var companies = ctx.Companies.ToList();
        companyList = Mapper.Map<List<TradingLicense.Model.CompanyModel>>(companies);

        var bannerCodes = ctx.BannerCodes.ToList();
        bannerCodeList = Mapper.Map<List<TradingLicense.Model.BannerCodeModel>>(bannerCodes);

        var locations = ctx.Locations.ToList();
        locationList = Mapper.Map<List<TradingLicense.Model.LocationModel>>(locations);
    }

    List<SelectListItem> periodList = new List<SelectListItem>();
    periodList.Add(new SelectListItem { Text = "Tahun", Value = "1" });
    periodList.Add(new SelectListItem { Text = "Bulan", Value = "2" });
    periodList.Add(new SelectListItem { Text = "Minggu", Value = "3" });
    periodList.Add(new SelectListItem { Text = "Hari", Value = "4" });

    List<SelectListItem> supportList = new List<SelectListItem>();
    supportList.Add(new SelectListItem { Text = "Lulus", Value = "1" });
    supportList.Add(new SelectListItem { Text = "Tidak Lulus", Value = "0" });
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Butir-Butir Pemohon</h4>
    </div>
    <div class="body">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmBannerApplication", id = "frmBannerApplication" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BannerApplicationID)
        @Html.HiddenFor(m => m.AppStatusID)

        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                    <div class="control-label">Nama Pemohon<span class="cfont">*</span></div>
                    @Html.DropDownListFor(m => m.IndividualID, new SelectList(individualList, "IndividualID", "FullName"), "Select  Mykad/Passport No", new { @id = "individualList", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IndividualID)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                    <div class="control-label">Nama Perniagaan (Jika ada)</div>
                    @Html.DropDownListFor(m => m.CompanyID, new SelectList(companyList, "CompanyID", "CompanyName"), "Select Company", new { @id = "companiesList", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CompanyID)
                </div>
            </div>
        </div>
        <div class="header">
            <h4 id="headerTitle">Senarai Iklan</h4>
        </div><br />
        if (Model.AppStatusID >= 1)
        {
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                    <button type="button" class="btn btn-primary btSubmit" onclick='return AddBannerObject();'>Tambah Iklan</button>
                </div>
            </div>
        </div>
        }
        if (ViewBag.UserRole > 1)
        {
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="control-label">
                            Masukkan Catatan Baru
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="control">
                            @Html.TextAreaFor(m => m.newComment, new { @class = "form-control", rows = "5" })
                        </div>
                    </div>
                </div>
            </div>
            if (ViewBag.UserRole == (int)TradingLicense.Infrastructure.Enums.RollTemplate.Director)
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="control-label">Keputusan</div>
                            @Html.DropDownListFor(m => m.Supported, new SelectList(supportList, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            }
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            
                            @if (@Model.AppStatusID == 13)
                            {
                                <input type="button" class="btn btn-primary btSubmit" value="Cetak Lesen Iklan" id="btnLicense" name="btnSubmit" />
                            }
                            @if (@Model.AppStatusID == 9)
                            {
                                <input type="button" class="btn btn-primary btSubmit" value="Cetak Surat Perakuan" id="btnLetter" name="btnSubmit" />
                            }
                            @if (@Model.AppStatusID < 9)
                            {
                                <input type="button" class="btn btn-info submitbtn" value="Simpan Draf" id="btnDraft" name="btnSubmit" />
                            }
                            @if (!(@ViewBag.UserRole == 2 && @Model.AppStatusID == 2))
                            {
                                <input type="button" name="btnSubmit" class="btn btn-primary submitbtn" id="btnSubmit" value="Hantar" />
                            }
                            <input type="button" class="btn btn-default" value="Kembali" onclick="back()" />
                        </div>
                    </div>
                </div>
        }

           <div id="myModal" class="modal fade" role="dialog">
               <div class="modal-dialog modal-lg">
                   <div class="modal-content">
                       <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">License Details</h4>
                       </div>
                       <div class="modal-body">
                           <p><iframe id="ifrm" src="" height="500" width="850" frameborder="0"></iframe></p>

                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>
               </div>
           </div>
        <div id="showAddBannerObject" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                @using (Html.BeginForm("AddBannerObject", "BannerApplication", FormMethod.Post, new { name = "frmsaveBannerObject", id = "frmsaveBannerObject" }))
                {
                    @Html.HiddenFor(m => m.BannerApplicationID)
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Tambah Iklan</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <div class="control-label">Kod Iklan</div>
                                        @Html.DropDownList("BannerCode", new SelectList(bannerCodeList, "BannerCodeID", "BannerCodeDesc"), new { @class = "form-control" })
                                        <span class="text-danger BannerCodeVal"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <div class="control-label">Lokasi Dipohon</div>
                                        @Html.DropDownList("Location", new SelectList(locationList, "LocationID", "LocationDesc"), new { @class = "form-control" })
                                        <span class="text-danger LocationVal"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <div class="control-label">Saiz Iklan Dipohon (meter persegi)</div>
                                        <input style="text-align:left" type="text" name="SaizIklan" class="form-control allownumericwithdecimal" />
                                        <span class="text-danger SizeVal"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <div class="control-label">Bilangan Iklan</div>
                                        <input style="text-align:left" type="text" name="BilanganIklan" class="form-control allowinteger" />
                                        <span class="text-danger quantityVal"></span>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Tambah" onclick="return validateSaveObjects()" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
</div>
@section scripts{
<script>
    var actionError = '@(TempData["ErrorMessage"])';
    if (actionError != null && actionError != "") {
        errorMessage(actionError);
    }

    function back() {
        var link = '@Url.Action("BannerApplication", "BannerApplication")';
        window.location.href = link;
    }

    //Select2 for Individual & Company
    $(function () {

        $('#companiesList').select2({ width: '100%', placeholder: "Pilih Nama Syarikat", minimumInputLength: 2 });

        function individualFormating(state) {
            if (!state.isNew) {
                return state.text;
            }

            state.text = state.fullName + ' (' + state.passportNo + ')';
            var $state = $(
              '<span>' + state.text + '&nbsp;</span>'
            );
            if (state.isNew) {
                var editLink = $(' <a href="javascript:void(0);">Edit</a>');
                editLink.on('click', function () {
                    showIndividualModal(state);
                });
                $state.append(editLink);
            }
            return $state;
        }

        $("#individualList").select2({
            placeholder: "Select Full Name or Mykad/Passport No",
            minimumInputLength: 2,
            width: '100%',
            tags: true,
            tokenSeparators: [';'],
            templateSelection: individualFormating,
            createTag: function (params) {
                var term = params.term;
                var indexOfPassport = term.indexOf('(');
                var fullName = '';
                var passportNo = '';
                if (indexOfPassport > 0) {
                    var endIndex = term.indexOf(')', indexOfPassport);
                    passportNo = endIndex > 0 ? term.substring(indexOfPassport + 1, endIndex) : term.substring(indexOfPassport + 1);
                    fullName = term.substring(0, indexOfPassport);
                } else {
                    fullName = term;
                }

                return {
                    id: term,
                    text: fullName + ' (' + passportNo + ')',
                    fullName: fullName,
                    passportNo: passportNo,
                    isNew: true
                };
            },
            ajax: {
                type: "POST",
                url: encodeURI('@Url.Action("FillIndividual", "PremiseApplication")'),
                //Data: allows us to pass a parameter to the controller
                data: function (query) {
                    //console.log(query)
                    return { query: query.term }
                },
                //processes the results from the JSON method and gives us the select list
                processResults: function (data) {
                    //console.log(data)
                    return {
                        results: data
                    };
                }
            }
        });
    });

     function AddBannerObject() {
        $("#showAddBannerObject").modal('show');
         //Form input control modes
        $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which != 8 && event.which < 48 || event.which > 57) && (event.which == 37 || event.which == 39)) {
                event.preventDefault();
            }
        });

        $(".allowinteger").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
            if ((event.which != 46) && (event.which != 8 && event.which < 48 || event.which > 57) && (event.which == 37 || event.which == 39)) {
                event.preventDefault();
            }
        });


     }

    // Generate license PDF
    $(document).ready(function () {
        $('#btnLicense').click(function () {
            var AppId = $('#BannerApplicationID').val();
            $('.modal-body iframe').attr('src', "../BannerApplication/GenerateLicense?AppId=" + AppId);
            $('#myModal').modal('show');
        });
    });
    // Generate Letter PDF
    $(document).ready(function () {
        $('#btnLetter').click(function () {
            var AppId = $('#BannerApplicationID').val();
            $('.modal-body iframe').attr('src', "../BannerApplication/GenerateLetter?AppId=" + AppId);
            $('#myModal').modal('show');
        });
    });
</script>
}
