@model TradingLicense.Model.BannerCodeModel
@{
    ViewBag.Title = "ManageBannerCode";

    List<SelectListItem> periodList = new List<SelectListItem>();
    periodList.Add(new SelectListItem { Text = "Tahun", Value = "1" });
    periodList.Add(new SelectListItem { Text = "Bulan", Value = "2" });
    periodList.Add(new SelectListItem { Text = "Minggu", Value = "3" });
    periodList.Add(new SelectListItem { Text = "Hari", Value = "4" });
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Kemaskini Kod Iklan</h4>
    </div>
    <div class="body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmBannerCode", id = "frmBannerCode" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.BannerCodeID)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Kod Iklan<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.BCodeNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BCodeNumber)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Tajuk<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.BannerCodeDesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BannerCodeDesc)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Fi Pemprosesan<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.ProcessingFee, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ProcessingFee)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Fi Lesen<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.PeriodFee, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PeriodFee)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Tempoh Sah Lesen<span class="cfont">*</span></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PeriodQuantity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PeriodQuantity)
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.Period, new SelectList(periodList, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Active)
                                <span>Active</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Simpan" />
                        <input type="button" class="btn btn-default" value="Batal" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
           var actionError = '@(TempData["ErrorMessage"])';
           if (actionError != null && actionError != "") {
                errorMessage(actionError);
            }
    function back() {
         var link = '@Url.Action("BannerCode", "BannerApplication")';
        window.location.href = link;
    }
    </script>
}
