@model TradingLicense.Model.IndividualModel

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Butir-butir Pemohon</h4>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr><td>Gambar:</td>
                        <td>
                            @if (Model.FileName != null)
                            {
                            <img class="img-thumbnail" width="150" src="~/Documents/Attachment/Individual/@Model.FileName" />
                            }
                            else
                            {
                            <img class="img-thumbnail" width="150" src="~/images/member-default.jpg" />
                            }
                        </td>
                    </tr>
                    <tr><td>Nama Penuh:</td><td>@Model.FullName</td></tr>
                    <tr><td>No. Kad Pengenalan/No. Pasport:</td><td>@Model.MykadNo</td></tr>
                    <tr>
                        <td>Warganegara:</td>
                        <td>
                            @switch (Model.NationalityID)
                            {
                                case 1:
                                    <label>Warganegara</label>
                                    break;
                                case 2:
                                    <label>Bukan Warganegara</label>
                                    break;
                                case 3:
                                    <label>Penduduk Tetap</label>
                                    break;

                            }
                        </td>
                    </tr>
                    <tr><td>Alamat:</td><td>@Model.AddressIC</td></tr>
                    <tr><td>Email:</td><td>@Model.IndividualEmail</td></tr>
                    <tr><td>Nombor Telefon:</td><td>@Model.PhoneNo</td></tr>
                    <tr>
                        <td>Jantina:</td>
                        <td>
                            @if (Model.Gender == 1)
                            {
                                <label>Lelaki</label>
                            }
                            else
                            {
                                <label>Perempuan</label>
                            }
                        </td>
                    </tr>
                    <tr><td>Status:</td>
                        <td>
                            @if (Model.Active)
                            {
                                <label>Aktif</label>
                            }
                            else
                            {
                                <label>Tidak Aktif</label>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
        
        
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmIndividual", id = "frmIndividual" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.IndividualID)
        }
    </div>
</div>