@using TradingLicense.Infrastructure;
@using TradingLicense.Web.Classes;
@{
    ViewBag.Title = "AccessPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divMessage"></div>
<div class="card">

    @if (TradingLicenseCommon.HasAccess(SystemEnum.Page.AccessPages, SystemEnum.PageRight.CrudLevel2))
    {
        <ul class="page-action-button">
            <li><a href="#" title="Access Page" onclick="addAccessPage();"><img src="@Url.Content("~/images/add.png")" alt="Access Page"></a></li>
        </ul>
    }

    <div class="header">
        <h4>Access Pages</h4>
    </div>
    <div class="filter-block">
        <div class="row small-gutter">
            <form>
                <div class="col-xs-4">
                    <input type="text" name="txtPageDesc" id="txtPageDesc" class="form-control" placeholder="Page Description" maxlength="100" />
                </div>
                <div class="col-xs-4">
                    <input type="text" name="txtCrudLevel" id="txtCrudLevel" class="form-control" placeholder="Crud Level" maxlength="4" />
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary" onclick="return bindTable();">Search</button>
                    <button type="button" class="btn btn-default" onclick="return clearControls();">Clear</button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid" id="divtblAccessPage">
        <table cellspacing="0" class="table table-striped" id="tblAccessPage"></table>
    </div>
</div>

@section scripts{
<script type="text/javascript">

    var IsEdit = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.AccessPages, SystemEnum.PageRight.CrudLevel3)';
    var IsDelete = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.AccessPages, SystemEnum.PageRight.CrudLevel4)';
    var IsView = '@TradingLicenseCommon.HasAccess(SystemEnum.Page.AccessPages, SystemEnum.PageRight.CrudLevel)';

    $(function () {
        $('.form-control').keypress(function (e) {
            if (e.which == 13) {
                bindTable();
                return false;
            }
        });
         var success = '@(TempData["SuccessMessage"])';
                if (success != null && success != "") {
                    successMessage(success);
                }
                bindTable();
        });

        function addAccessPage() {
           var link = '@Url.Action("ManageAccessPage", "Master")';
             window.location.href = link;
        }

        function bindTable() {

         if (!isValidSearchCriteria('SearchCriteria')) { return false; }

         if ($.fn.DataTable.isDataTable("#tblAccessPage")) {
             $('#tblAccessPage').dataTable().fnDestroy();
             $('#divtblAccessPage').html('<table class="table table-striped" width="100%"  id="tblAccessPage"></table>');
         }

         table = $("#tblAccessPage").dataTable({
             "autoWidth": false,
             "searching": false,
             "paging": true,
             "sPaginationType": "full_numbers",
             "language": {
                 "lengthMenu": "Page Size : _MENU_ ",
                 "info": "Records _START_ to _END_ of (_TOTAL_)",
                 "emptyTable": "No Record(s) Found"
             },
             "processing": true,
             "serverSide": true,
             "pageLength": 10,
                    "ajax": {
                        url: '@Url.Action("AccessPage", "Master")',
                        type: "POST",
                        data: bindSearch()
                    },
             "columns": [
                 { "title": "Page Description", "data": "PageDesc" },
                 { "title": "Role Template", "data": "RoleTemplateDesc" },
                        { "title": "Crud Level", "data": "CrudLevel", "orderable": false },
                        {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';

                        if (IsEdit != "False" || IsView != "False") {
                            if (IsEdit != "False") {
                                appendstring += '<a  href="@Url.Action("ManageAccessPage", "Master")?Id=' + row["AccessPageID"] + '" title="Edit"> <img src="@Url.Content("~/images/edit.png")" alt="Edit" /></a>&nbsp; '
                            }
                            else {
                                appendstring += '<a  href="@Url.Action("ManageAccessPage", "Master")?Id=' + row["AccessPageID"] + '" title="View"> <img src="@Url.Content("~/images/view.png")" alt="View" /></a>&nbsp; '
                            }
                        }
                        if (IsDelete != "False") {
                            appendstring += '<a href="javascript:void(0);" data-id="' + row["AccessPageID"] + '" onclick="bindDelete(this);" title="Delete"><img src="@Url.Content("~/images/delete.png")" alt="Delete" /></a>';
                        }

                        return appendstring
                    },
                    "width": "80px",
                    "orderable": false,
                    "class": "action-icons"
                }

             ],
             "drawCallback": function (settings) {
                 //hide paging and info when empty datattable
                 var api = this.api();
                 if (api.rows({ page: 'current' }).data().length <= 0) {
                     $('#tblAccessPage_info').hide();
                     $('#tblAccessPage_paginate').hide();
                     $('#tblAccessPage_length').hide();
                 }
                 else {
                     $('#tblAccessPage_info').show();
                     $('#tblAccessPage_paginate').show();
                     $('#tblAccessPage_length').show();
                 }
                 bindSortingArrow();
             }
                });
        }

        function clearControls() {
            $("#txtPageDesc").val('');
            $("#txtCrudLevel").val('');
            bindTable();
        }

        function bindSearch() {
            var param = {};
            param["PageDesc"] = $('#txtPageDesc').val();
            param["CrudLevel"] = $('#txtCrudLevel').val();
            return param;
        }

        function isValidSearchCriteria(formName) {
            var isValid = true;

            $("form#" + formName + " input[type=text]").each(function () {
                if ($(this).val().match(/[<>]/)) {
                    $(this).addClass('input-validation-error');
                    isValid = false;
                }
                else {
                    $(this).removeClass('input-validation-error');
                }
            });
            return isValid;
        }

        function bindDelete(item) {
            var x = confirm("Are you sure you want to delete?");
            if (x) {
                $.ajax({
                    type: "POST",
                    url: encodeURI('@Url.Action("DeleteAccessPage", "Master")'),
                    data: { "Id": $(item).attr('data-id') },
                    cache: false,
                    dataType: 'json',
                    success: function (data, textStatus, XMLHttpRequest) {
                        if (data.success) {
                            bindTable();
                            successMessage(data.message);

                        }
                        else {
                            successMessage(data.message);
                        }
                    },
                    error: function (jqXHR, exception, errMsg) {
                    }
                });
            }
        }

</script>
}
