@model TradingLicense.Model.PremiseTypeModel
@{
    ViewBag.Title = "ManagePremiseType";
}

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Manage Premise Type</h4>
    </div>
    <div class="body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmPremiseType", id = "frmPremiseType" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.PremiseTypeID)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PremiseDesc, new { @class = "control-label" }) <span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.PremiseDesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PremiseDesc)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Active)
                                <span>Active</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <input type="button" class="btn btn-default" value="Cancel" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
           var actionError = '@(TempData["ErrorMessage"])';
           if (actionError != null && actionError != "") {
                errorMessage(actionError);
            }
    function back() {
         var link = '@Url.Action("PremiseType", "Master")';
        window.location.href = link;
    }
    </script>
}
