@model TradingLicense.Model.AttachmentModel
@{
    ViewBag.Title = "ManageAttachment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Manage Attachment</h4>
    </div>
    <div class="body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmAttachment", id = "frmAttachment", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.AttachmentID)
            @Html.HiddenFor(m => m.FileName)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FileName, new { @class = "control-label" })<span class="cfont">*</span>
                        <input type="file" name="file" /><br />
                        @if (!string.IsNullOrWhiteSpace(Model.FileName))
                        {
                            <a href="@Url.Content(TradingLicense.Infrastructure.ProjectConfiguration.AttachmentDocument + Model.FileName)" download>
                                @Model.FileName
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <input type="button" class="btn btn-default" value="Cancel" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
           var actionError = '@(TempData["ErrorMessage"])';
           if (actionError != null && actionError != "") {
                errorMessage(actionError);
            }
    function back() {
         var link = '@Url.Action("Attachment", "Master")';
        window.location.href = link;
    }
    </script>
}
