@model TradingLicense.Model.SignboardModel
@{
    ViewBag.Title = "ManageSignboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Manage Signboard</h4>
    </div>
    <div class="body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmSignboard", id = "frmSignboard" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.SignboardID)

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Length, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.Length, new { @class = "form-control allownumericwithdecimal" })
                        @Html.ValidationMessageFor(m => m.Length)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Width, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.Width, new { @class = "form-control allownumericwithdecimal" })
                        @Html.ValidationMessageFor(m => m.Width)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.WithLamp, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.WithLamp, new { @class = "form-control allownumeric" })
                        @Html.ValidationMessageFor(m => m.WithLamp)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Quantity, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control allownumeric" })
                        @Html.ValidationMessageFor(m => m.Quantity)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FaceQty, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.FaceQty, new { @class = "form-control allownumeric" })
                        @Html.ValidationMessageFor(m => m.FaceQty)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DisplayMethod, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.DisplayMethod, new { @class = "form-control", @maxlength = "15" })
                        @Html.ValidationMessageFor(m => m.DisplayMethod)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Location, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @maxlength = "10" })
                        @Html.ValidationMessageFor(m => m.Location)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <input type="button" class="btn btn-default" value="Cancel" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
    function back() {
         var link = '@Url.Action("Signboard", "Master")';
         window.location.href = link;
        }
        $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $(".allownumeric").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    </script>
}



