@model TradingLicense.Model.CompanyModel
@{
    ViewBag.Title = "ManageCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Manage Company</h4>
    </div>
    <div class="body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmCompany", id = "frmCompany" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CompanyID)

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyName, new { @class = "control-label" })<span class="cfont">*</span>
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.CompanyName)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.RegistrationNo, new { @class = "control-label" })<span class="cfont">*</span>
                    @Html.TextBoxFor(m => m.RegistrationNo, new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.RegistrationNo)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyAddress, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.CompanyAddress, new { @class = "form-control", @maxlength = "255" })
                    @Html.ValidationMessageFor(m => m.CompanyAddress)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Active)
                            <span>Active</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <input type="button" class="btn btn-default" value="Cancel" onclick="back()" />
                </div>
            </div>
        </div>
}

    </div>
</div>
@section scripts{
    <script>
         var actionError = '@(TempData["ErrorMessage"])';
           if (actionError != null && actionError != "") {
                errorMessage(actionError);
            }
    function back() {
         var link = '@Url.Action("Company", "Master")';
        window.location.href = link;
    }
    </script>
}
