@model TradingLicense.Model.CompanyModel
@using AutoMapper;
@{
    ViewBag.Title = "Manage Company";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<TradingLicense.Model.BusinessTypeModel> businessTypeList = new List<TradingLicense.Model.BusinessTypeModel>();
    using (var ctx = new TradingLicense.Data.LicenseApplicationContext())
    {
        var businessType = ctx.BTs.ToList();
        businessTypeList = Mapper.Map<List<TradingLicense.Model.BusinessTypeModel>>(businessType);
    }
}

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Kemaskini Maklumat Syarikat</h4>
    </div>
    <div class="body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmCompany", id = "frmCompany" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.COMPANYID)

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <div class="control-label">Jenis Perniagaan<span class="cfont">*</span></div>
                    @Html.DropDownListFor(m => m.BT_ID, new SelectList(businessTypeList.OrderBy(x => x.BT_DESC), "BusinessTypeID", "BusinessTypeDesc"), "Pilih Jenis Perniagaan", new { @class = "form-control", @onchange = "businessTypeChange()" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <div class="control-label">Nama Syarikat/Pertubuhan<span class="cfont">*</span></div>
                    @Html.TextBoxFor(m => m.C_NAME, new { @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.C_NAME)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <div class="control-label">
                        Butir-butir pemegang jawatan dalam organisasi
                    </div>
                    <table cellspacing="0" class="table table-hover table-bordered" style="width:100%" id="tblmembers"></table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <div class="control-label">Alamat Premis<span class="cfont">*</span></div>
                    @Html.TextBoxFor(m => m.C_ADDRESS, new { @class = "form-control" })
                </div>
            </div>
        </div>
            
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">No. Telefon Syarikat<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.C_PHONE, new { @class = "form-control", @maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.C_PHONE)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">No. Pendaftaran Perniagaan/Syarikat<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.REG_NO, new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">Tarikh Pendaftaran<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.SSMREGDATE, "{0:dd\\/MMM\\/yyyy}", new { @class = "date-picker" })
                        @Html.ValidationMessageFor(m => m.SSMREGDATE)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">Tarikh Habis Tempoh<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.SSMEXPDATE, "{0:dd\\/MMM\\/yyyy}", new { @class = "date-picker" })
                        @Html.ValidationMessageFor(m => m.SSMEXPDATE)
                    </div>
                </div>
            </div>
            <div id="capitalDetails" style="display:none;">       
                <div class="header"><h4> Butir Butir Modal </h4></div><br />
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <div class="control-label">Modal Dibenarkan (RM)</div>
                            @Html.TextBoxFor(m => m.A_CAPITAL, new { @class = "form-control allownumericwithdecimal" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <div class="control-label">Modal Terbitan (RM)</div>
                            @Html.TextBoxFor(m => m.I_CAPITAL, new { @class = "form-control allownumericwithdecimal" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <div class="control-label">Modal Berbayar Tunai (RM)</div>
                            @Html.TextBoxFor(m => m.PU_C_CASH, new { @class = "form-control allownumericwithdecimal" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <div class="control-label">Modal Berbayar Selainnya (RM)</div>
                            @Html.TextBoxFor(m => m.PU_C_O, new { @class = "form-control allownumericwithdecimal" })
                        </div>
                    </div>
                </div>           
                <hr />
            </div>
            <div class="header"><h4> Sumber Kumpulan Wang </h4></div><br />
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">Bank/Institusi kewangan (RM)</div>
                        @Html.TextBoxFor(m => m.BANK_S, new { @class = "form-control allownumericwithdecimal" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">Simpanan (RM)</div>
                        @Html.TextBoxFor(m => m.DEPOSIT_S, new { @class = "form-control allownumericwithdecimal" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">Pinjaman (RM)</div>
                        @Html.TextBoxFor(m => m.LOAN_S, new { @class = "form-control allownumericwithdecimal" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">Pinjaman daripada siapa (Nama)</div>
                        @Html.TextBoxFor(m => m.LOAN_S_NAME, new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">Lain-lain (RM)</div>
                        @Html.TextBoxFor(m => m.OTHER_S, new { @class = "form-control allownumericwithdecimal" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="control-label">Jika ada sumber lain-lain, sila nyatakan</div>
                        @Html.TextBoxFor(m => m.OTHER_S_NAME, new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Active)
                                <span>Aktif?</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Simpan" />
                        <input type="button" class="btn btn-default" value="Kembali" onclick="back()" />
                    </div>
                </div>
            </div>

            }

        </div>
</div>
@section scripts{
    <script>
    var actionError = '@(TempData["ErrorMessage"])';
    

    if (actionError != null && actionError != "") {
        errorMessage(actionError);
    }

    if(@Model.BT_ID > 1)
    {
        $("#BusinessTypeID").val(@Model.BT_ID);
    }

    function businessTypeChange() {
        if ($("#BusinessTypeID").val() > 1) {
            $('#capitalDetails').show();
        }
    }

    function back() {
         var link = '@Url.Action("Company", "Master")';
        window.location.href = link;
    }
    
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker({ dateFormat: 'dd/M/yy' });
        if ($("#BusinessTypeID").val() > 1) {
            $('#capitalDetails').show();
        }
        $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which != 8 && event.which < 48 || event.which > 57) && (event.which == 37 || event.which == 39)) {
                event.preventDefault();
            }
        })
    })

    </script>
}
