@using AutoMapper;
@model TradingLicense.Model.BusinessCodeModel
@{
    ViewBag.Title = "ManageBusinessCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<TradingLicense.Model.SectorModel> sectorList = new List<TradingLicense.Model.SectorModel>();
    using (var ctx = new TradingLicense.Data.LicenseApplicationContext())
    {
        var sector = ctx.Sectors.ToList();
        sectorList = Mapper.Map<List<TradingLicense.Model.SectorModel>>(sector);
    }

    List<SelectListItem> expressList = new List<SelectListItem>();
    expressList.Add(new SelectListItem { Text = "Yes", Value = "1" });
    expressList.Add(new SelectListItem { Text = "No", Value = "0" });
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Manage Business Code</h4>
    </div>
    <div class="body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmBusinessCode", id = "frmBusinessCode" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.BusinessCodeID)

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Group<span class="cfont">*</span></div>
                        @Html.DropDownListFor(m => m.SectorID, new SelectList(sectorList, "SectorID", "SectorDesc"), "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SectorID)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CodeNumber, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.CodeNumber, new { @class = "form-control", @maxlength = "5" })
                        @Html.ValidationMessageFor(m => m.CodeNumber)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CodeDesc, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextAreaFor(m => m.CodeDesc, new { @class = "form-control", @maxlength = "255" })
                        @Html.ValidationMessageFor(m => m.CodeDesc)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DefaultRate, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.DefaultRate, new { @class = "form-control allownumericwithdecimal" })
                        @Html.ValidationMessageFor(m => m.DefaultRate)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.BaseFee, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.BaseFee, new { @class = "form-control allownumericwithdecimal" })
                        @Html.ValidationMessageFor(m => m.BaseFee)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ExtraFee, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ExtraFee, new { @class = "form-control allownumericwithdecimal" })
                        @Html.ValidationMessageFor(m => m.ExtraFee)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ExtraUnit, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ExtraUnit, new { @class = "form-control allownumeric" })
                        @Html.ValidationMessageFor(m => m.ExtraUnit)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Period, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.Period, new { @class = "form-control", @maxlength = "1" })
                        @Html.ValidationMessageFor(m => m.Period)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PQuantity, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.PQuantity, new { @class = "form-control allownumeric" })
                        @Html.ValidationMessageFor(m => m.PQuantity)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Express)
                            <span>Express?</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Active)
                                <span>Active</span><span class="pointer"><img src="~/images/checkmark.svg" alt="Checkmark" /></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <input type="button" class="btn btn-default" value="Cancel" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>

        $(function () {
            $("#Sectorlist").select2();
        });
        
        var actionError = '@(TempData["ErrorMessage"])';
        if (actionError != null && actionError != "") {
              errorMessage(actionError);
        }
        function back() {
             var link = '@Url.Action("BusinessCode", "Master")';
             window.location.href = link;
        }

        $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $(".allownumeric").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    </script>
}
