@model TradingLicense.Model.SectorModel
@{
    ViewBag.Title = "ManageSector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Kemaskini Nama Kumpulan Tred Perniagaan dan Perindustrian</h4>
    </div>
    <div class="body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmSector", id = "frmSector" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.SECTORID)

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SECTORDESC, new { @class = "control-label" })<span class="cfont">*</span>
                        @Html.TextBoxFor(m => m.SECTORDESC, new { @class = "form-control", @maxlength = "30" })
                        @Html.ValidationMessageFor(m => m.SECTORDESC)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Simpan" />
                        <input type="button" class="btn btn-default" value="Kembali" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
         var actionError = '@(TempData["ErrorMessage"])';
           if (actionError != null && actionError != "") {
                errorMessage(actionError);
            }
    function back() {
         var link = '@Url.Action("Sector", "Master")';
        window.location.href = link;
        }
    </script>
}