@model TradingLicense.Model.HawkerApplicationModel
@using AutoMapper;
@{
    ViewBag.Title = "ManageHawkerApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<TradingLicense.Model.HawkerCodeModel> hawkerCodeList = new List<TradingLicense.Model.HawkerCodeModel>();

    List<TradingLicense.Entities.HAReqDoc> stallDocList = new List<TradingLicense.Entities.HAReqDoc>();
    using (var ctx = new TradingLicense.Data.LicenseApplicationContext())
    {
        var hawkerCode = ctx.HawkerCodes.ToList();
        hawkerCodeList = Mapper.Map<List<TradingLicense.Model.HawkerCodeModel>>(hawkerCode);
    }

    List<SelectListItem> periodList = new List<SelectListItem>();
    periodList.Add(new SelectListItem { Text = "Tahun", Value = "1" });
    periodList.Add(new SelectListItem { Text = "Bulan", Value = "2" });
    periodList.Add(new SelectListItem { Text = "Minggu", Value = "3" });
    periodList.Add(new SelectListItem { Text = "Hari", Value = "4" });
}
<div id="divMessage"></div>
<div class="card">
    <div class="header">
        <h4 id="headerTitle">Kemaskini Permohonan Lesen Pasar</h4>
    </div>
    <div class="body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmHawkerApplication", id = "frmHawkerApplication" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.HawkerApplicationID)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Nama Pemohon<span class="cfont">*</span></div>
                        @Html.DropDownListFor(m => m.ApplicantName, new SelectList(ApplicantList, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ApplicantName)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="control-label">Kod Lesen Pasar</div>
                        @Html.DropDownList("HawkerCode", new SelectList(hawkerCodeList.OrderBy(x => x.HawkerCodeID), "HawkerCodeID", "HawkerCodeDesc"), "Pilih Kod Lesen Pasar", new { @class = "form-control" })
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label"> Jenis Barang Dijaja <span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.GoodsType, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label">Lokasi Perniagaan<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FullName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <div class="form-group">

                        <div class="control-label">Tempoh Sah Lesen Dari <span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.ValidStart, new { @class = "date-picker" })
                        @Html.ValidationMessageFor(m => m.ValidStart)

                    </div>
                </div>
                <div class="col-md-4 col-sm-3">
                    <div class="form-group">
                        <div class="control-label">Hingga<span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.ValidStop, new { @class = "date-picker" })
                        @Html.ValidationMessageFor(m => m.ValidStop)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label"> Masa Berniaga <span class="cfont">*</span></div>
                        @Html.TextBoxFor(m => m.OperationHours, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <hr />            
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="control-label">
                            Nama Pembantu (Mykad/Paspot)
                        </div>
                        //@Html.DropDownList("Individual", new SelectList(Model.selectedIndividualList.OrderBy(x => x.text), "id", "text"), "Select  Mykad/Passport No", new { @id = "individualList", @class = "form-control", multiple = "true", onchange = "changeIndindividual()" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <hr /><div class="h4">Dokumen Wajib <br /><br /></div>
                        <div class="text-left">
                            <table class="table table-striped dataTable table-hover" id="Docs">
                                @if (ViewBag.hawkerDocList != null)
                                {
                                    foreach (var item in ViewBag.hawkerDocList)
                                    {
                                        <tr>
                                            <td>
                                                <label>
                                                    @if (Model.UserRollTemplate != (int)TradingLicense.Infrastructure.Enums.RollTemplate.DeskOfficer)
                                                    {
                                                        <input type="checkbox" value='@item.RequiredDocID' />
                                                    }
                                                    else
                                                    {
                                                        <input type="file" value='@item.RequiredDocID' />
                                                    }

                                                </label>

                                            </td>
                                            <td>
                                                <label>
                                                    @item.RequiredDoc.RequiredDocDesc
                                                </label>

                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Simpan" />
                        <input type="button" class="btn btn-default" value="Batal" onclick="back()" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker({ format: 'dd/MM/yyyy' });
    })

    var actionError = '@(TempData["ErrorMessage"])';
    if (actionError != null && actionError != "") {
        errorMessage(actionError);
    }
    function back() {
         var link = '@Url.Action("HawkerApplication", "HawkerApplication")';
        window.location.href = link;
    }

    </script>
}
